.custom-navbar {
  background-color: #ffffff;
  padding: 10px 0;
}

.navbar-logo {
  width: 130px;
}

.navbar-links .nav-link {
  color: #1f2933;
  font-weight: 500;
  margin-left: 20px;
  font-size: 0.95rem;
}

.navbar-links .nav-link:hover {
  color: #387ed1;
}

.navbar-links .nav-link.active {
  color: #387ed1;
}

@media (max-width: 768px) {
  .navbar-links .nav-link {
    margin-left: 0;
    padding: 10px 0;
  }
}
